[submodule ".registry"]
	path = .registry
	url = https://github.com/kinelhu/kinelhu.r-universe.dev
	branch = HEAD
[submodule "gghalftone"]
	path = gghalftone
	url = https://github.com/kinelhu/gghalftone
